/*
Docco style used in http://jashkenas.github.com/docco/ converted by Simon Madine (@thingsinjars)
*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #000;
  background: #f8f8ff;
  -webkit-text-size-adjust: none;
}
.hljs-comment,
.diff .hljs-header {
  color: #408080;
  font-style: italic;
}
.hljs-keyword,
.assignment,
.hljs-literal,
.css .rule .hljs-keyword,
.hljs-winutils,
.javascript .hljs-title,
.lisp .hljs-title,
.hljs-subst {
  color: #954121;
}
.hljs-number,
.hljs-hexcolor {
  color: #40a070;
}
.hljs-string,
.hljs-tag .hljs-value,
.hljs-doctag,
.tex .hljs-formula,
.hljs-name {
  color: #219161;
}
.hljs-title,
.hljs-id {
  color: #19469d;
}
.hljs-params {
  color: #00f;
}
.javascript .hljs-title,
.lisp .hljs-title,
.hljs-subst {
  font-weight: normal;
}
.hljs-class .hljs-title,
.haskell .hljs-label,
.tex .hljs-command {
  color: #458;
  font-weight: bold;
}
.hljs-tag,
.hljs-tag .hljs-title,
.hljs-rule .hljs-property,
.django .hljs-tag .hljs-keyword {
  color: #000080;
  font-weight: normal;
}
.hljs-attribute,
.hljs-variable,
.instancevar,
.lisp .hljs-body {
  color: #008080;
}
.hljs-regexp {
  color: #b68;
}
.hljs-class {
  color: #458;
  font-weight: bold;
}
.hljs-symbol,
.ruby .hljs-symbol .hljs-string,
.ruby .hljs-symbol .hljs-keyword,
.ruby .hljs-symbol .keymethods,
.lisp .hljs-keyword,
.tex .hljs-special,
.input_number {
  color: #990073;
}
.builtin,
.constructor,
.hljs-built_in,
.lisp .hljs-title {
  color: #0086b3;
}
.hljs-preprocessor,
.hljs-pragma,
.hljs-pi,
.hljs-doctype,
.hljs-shebang,
.hljs-cdata {
  color: #999;
  font-weight: bold;
}
.hljs-deletion {
  background: #fdd;
}
.hljs-addition {
  background: #dfd;
}
.diff .hljs-change {
  background: #0086b3;
}
.hljs-chunk {
  color: #aaa;
}
.tex .hljs-formula {
  opacity: 0.5;
}
.post {
  font-family: sans-serif;
  font-size: 13px;
  padding: 10px;
}
.post .post-title {
  font-size: 20px;
  font-weight: bold;
}
.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
  border: 0;
}
.post h1 {
  font-size: 170%;
  border-top: 4px solid #aaa;
  padding-top: .5em;
  margin-top: 1.5em;
}
.post h1:first-child {
  margin-top: 0;
  padding-top: .25em;
  border-top: none;
  text-align: center;
}
.post h2 {
  font-size: 150%;
  margin-top: 1.5em;
  padding-top: .5em;
}
.post h3 {
  font-size: 130%;
  margin-top: 1em;
}
.post h4 {
  font-size: 110%;
  margin-top: 1em;
}
.post p {
  margin: 1em 0;
  line-height: 1.5em;
}
.post ul {
  margin: 1em 0 1em 2em;
}
.post ol {
  margin: 1em 0 1em 2em;
}
.post strong {
  font-weight: bold;
}
.post em {
  font-style: italic;
}
.post ul ul,
.post ul ol,
.post ol ol,
.post ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
.post ul li {
  margin-top: .3em;
  margin-bottom: .3em;
  list-style-type: square;
}
.post ol li {
  margin-top: .3em;
  margin-bottom: .3em;
  list-style-type: decimal;
}
.post blockquote {
  margin: 1em 0;
  border-left: 5px solid #ddd;
  padding-left: .6em;
  color: #555;
}
.post dt {
  font-weight: bold;
  margin-left: 1em;
}
.post dd {
  margin-left: 2em;
  margin-bottom: 1em;
}
.post table {
  margin: 1em 0;
}
.post table th {
  border-bottom: 1px solid #bbb;
  padding: .2em 1em;
}
.post table td {
  border-bottom: 1px solid #ddd;
  padding: .2em 1em;
}
.post pre {
  margin: 1em 0;
  font-size: 12px;
  background-color: #f8f8ff;
  border: 1px solid #dedede;
  padding: .5em;
  line-height: 1.5em;
  color: #444;
  overflow: auto;
}
.post pre code {
  padding: 0;
  font-size: 12px;
  background-color: #f8f8ff;
  border: none;
}
.post code {
  font-size: 12px;
  background-color: #f8f8ff;
  color: #444;
  padding: 0 .2em;
  border: 1px solid #dedede;
}
.post a {
  color: #4183c4;
  text-decoration: none;
}
.post a:hover {
  text-decoration: underline;
}
.post a code,
.post a:link code,
.post a:visited code {
  color: #4183c4;
}
.post img {
  max-width: 100%;
}
