.post {
  font-family: sans-serif;
  font-size: 13px;
  padding: 10px;
}
.post .post-title {
  font-size: 20px;
  font-weight: bold;
}
.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
  border: 0;
}
.post h1 {
  font-size: 170%;
  border-top: 4px solid #aaa;
  padding-top: .5em;
  margin-top: 1.5em;
}
.post h1:first-child {
  margin-top: 0;
  padding-top: .25em;
  border-top: none;
  text-align: center;
}
.post h2 {
  font-size: 150%;
  margin-top: 1.5em;
  padding-top: .5em;
}
.post h3 {
  font-size: 130%;
  margin-top: 1em;
}
.post h4 {
  font-size: 110%;
  margin-top: 1em;
}
.post p {
  margin: 1em 0;
  line-height: 1.5em;
}
.post ul {
  margin: 1em 0 1em 2em;
}
.post ol {
  margin: 1em 0 1em 2em;
}
.post strong {
  font-weight: bold;
}
.post em {
  font-style: italic;
}
.post ul ul,
.post ul ol,
.post ol ol,
.post ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
.post ul li {
  margin-top: .3em;
  margin-bottom: .3em;
  list-style-type: square;
}
.post ol li {
  margin-top: .3em;
  margin-bottom: .3em;
  list-style-type: decimal;
}
.post blockquote {
  margin: 1em 0;
  border-left: 5px solid #ddd;
  padding-left: .6em;
  color: #555;
}
.post dt {
  font-weight: bold;
  margin-left: 1em;
}
.post dd {
  margin-left: 2em;
  margin-bottom: 1em;
}
.post table {
  margin: 1em 0;
}
.post table th {
  border-bottom: 1px solid #bbb;
  padding: .2em 1em;
}
.post table td {
  border-bottom: 1px solid #ddd;
  padding: .2em 1em;
}
.post pre {
  margin: 1em 0;
  font-size: 12px;
  background-color: #f8f8ff;
  border: 1px solid #dedede;
  padding: .5em;
  line-height: 1.5em;
  color: #444;
  overflow: auto;
}
.post pre code {
  padding: 0;
  font-size: 12px;
  background-color: #f8f8ff;
  border: none;
}
.post code {
  font-size: 12px;
  background-color: #f8f8ff;
  color: #444;
  padding: 0 .2em;
  border: 1px solid #dedede;
}
.post a {
  color: #4183c4;
  text-decoration: none;
}
.post a:hover {
  text-decoration: underline;
}
.post a code,
.post a:link code,
.post a:visited code {
  color: #4183c4;
}
.post img {
  max-width: 100%;
}
.highlight {
  background: #ffffff;
  /* Comment */
  /* Error */
  /* Keyword */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Emph */
  /* Generic.Error */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Property */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */
}
.highlight .hll {
  background-color: #ffffcc;
}
.highlight .c {
  color: #888888;
}
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.highlight .k {
  color: #008800;
  font-weight: bold;
}
.highlight .cm {
  color: #888888;
}
.highlight .cp {
  color: #cc0000;
  font-weight: bold;
}
.highlight .c1 {
  color: #888888;
}
.highlight .cs {
  color: #cc0000;
  font-weight: bold;
  background-color: #fff0f0;
}
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gr {
  color: #aa0000;
}
.highlight .gh {
  color: #303030;
}
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}
.highlight .go {
  color: #888888;
}
.highlight .gp {
  color: #555555;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #606060;
}
.highlight .gt {
  color: #aa0000;
}
.highlight .kc {
  color: #008800;
  font-weight: bold;
}
.highlight .kd {
  color: #008800;
  font-weight: bold;
}
.highlight .kn {
  color: #008800;
  font-weight: bold;
}
.highlight .kp {
  color: #008800;
}
.highlight .kr {
  color: #008800;
  font-weight: bold;
}
.highlight .kt {
  color: #888888;
  font-weight: bold;
}
.highlight .m {
  color: #0000DD;
  font-weight: bold;
}
.highlight .s {
  color: #dd2200;
  background-color: #fff0f0;
}
.highlight .na {
  color: #336699;
}
.highlight .nb {
  color: #003388;
}
.highlight .nc {
  color: #bb0066;
  font-weight: bold;
}
.highlight .no {
  color: #003366;
  font-weight: bold;
}
.highlight .nd {
  color: #555555;
}
.highlight .ne {
  color: #bb0066;
  font-weight: bold;
}
.highlight .nf {
  color: #0066bb;
  font-weight: bold;
}
.highlight .nl {
  color: #336699;
  font-style: italic;
}
.highlight .nn {
  color: #bb0066;
  font-weight: bold;
}
.highlight .py {
  color: #336699;
  font-weight: bold;
}
.highlight .nt {
  color: #bb0066;
  font-weight: bold;
}
.highlight .nv {
  color: #336699;
}
.highlight .ow {
  color: #008800;
}
.highlight .w {
  color: #bbbbbb;
}
.highlight .mf {
  color: #0000DD;
  font-weight: bold;
}
.highlight .mh {
  color: #0000DD;
  font-weight: bold;
}
.highlight .mi {
  color: #0000DD;
  font-weight: bold;
}
.highlight .mo {
  color: #0000DD;
  font-weight: bold;
}
.highlight .sb {
  color: #dd2200;
  background-color: #fff0f0;
}
.highlight .sc {
  color: #dd2200;
  background-color: #fff0f0;
}
.highlight .sd {
  color: #dd2200;
  background-color: #fff0f0;
}
.highlight .s2 {
  color: #dd2200;
  background-color: #fff0f0;
}
.highlight .se {
  color: #0044dd;
  background-color: #fff0f0;
}
.highlight .sh {
  color: #dd2200;
  background-color: #fff0f0;
}
.highlight .si {
  color: #3333bb;
  background-color: #fff0f0;
}
.highlight .sx {
  color: #22bb22;
  background-color: #f0fff0;
}
.highlight .sr {
  color: #008800;
  background-color: #fff0ff;
}
.highlight .s1 {
  color: #dd2200;
  background-color: #fff0f0;
}
.highlight .ss {
  color: #aa6600;
  background-color: #fff0f0;
}
.highlight .bp {
  color: #003388;
}
.highlight .vc {
  color: #336699;
}
.highlight .vg {
  color: #dd7700;
}
.highlight .vi {
  color: #3333bb;
}
.highlight .il {
  color: #0000DD;
  font-weight: bold;
}
